.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: 40vh;
    border: 1px solid;
    color: white;
    background: rgba(0, 0, 0, 0.692);
    padding: 15px;
    border-radius: 10px;
}
input{
    border: none;
    outline: none;
    padding: 10px;
}

select{
    padding: 10px;
    border: none;
    outline: none;
}
button{
    background: #FFBA9D;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}